{
    // 上游服务器列表, 可选项.
    // 1. 如果有这个Servers项, 则表示这个服务是README.md中的local server.
    // 2. 如果没有Servers列表, 则表示这个是最最终提供代理服务的服务器(即README.md中的remote server)
    "Servers": [ "wss://upstream.server1", "wss://upstream.server1" ],

    // 是否验证tls证书.
    "VerifyClientCert": false,

    // 服务器监听端口, 用于接受wss或socks5或http proxy连接.
    "ListenAddr": "0.0.0.0:2080",

    // Users 代理用户密码表.
    "Users": [
        {"User": "admin", "Passwd": "aa12456"},
        {"User": "jackc", "Passwd": "aa12356"}
    ]
}
